<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuthUSB.Properties.Settings.ConnectionString" connectionString="Data Source=C:\Users\razum_000\AuthUSB\AuthUSB\bin\Debug\database.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
</configuration>