<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuthUSB.Properties.Settings.ConnectionString" connectionString="Data Source=&quot;C:\Users\razum_000\Desktop\курсач по куратору\AuthUSB\AuthUSB\database\database.db&quot;"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
</configuration>